@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
* {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}
.main-card {
  display: flex;
  height: 60%;
  width: 80%;
  border-radius: 35px;
}
.secondary-card {
  height: 60%;
  width: 5%;
  background-color: red;
  border-radius: 35px;
}
.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 700ms ease-in;
}
.text {
  align-self: flex-end;
  color: white;
  margin-left: 15px;
  margin-bottom: 15px;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 20px;
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
